source http://www.nuget.org/api/v2/

nuget NUnit
nuget Ookii.Dialogs

group Analyzers
  source http://nuget.org/api/v2
  nuget AsyncUsageAnalyzers
  nuget Gu.Analyzers
  nuget IDisposableAnalyzers
  nuget PropertyChangedAnalyzers
  nuget StyleCop.Analyzers
  nuget WpfAnalyzers
